{% extends 'dashboard/index.html' %}
{% load static %}
{% block extend_css %} 

<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content_dashboard %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh bạ điện thoại</h6>
       
    </div>
    <div class="d-sm-flex align-items-center justify-content-end mb-4">
        <!-- <h1 class="h3 mb-0 text-gray-800"></h1> -->
        <a href="{% url 'create_contact' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Thêm mới</a>
        <a href="{% url 'import_contact' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Import</a>
     
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã nhân sự</th>
                        <th>Họ và tên</th>
                        <th>Ngày tháng năm sinh</th>
                        <th>Chức danh</th>
                        <th>Phòng ban</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <!-- <tfoot>
                    <tr>
                        <th>STT</th>
                        <th>Tên phòng ban</th>
                        <th>Họ và tên</th>
                        <th>Chức danh</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Thao tác</th>
                    </tr>
                </tfoot> -->
                <!-- fullname = models.CharField(max_length=100)
                email = models.EmailField()
                department = models.CharField(max_length=100)
                position = models.CharField(max_length=100)
                phone_number = models.CharField(max_length=20)
                code = models.CharField(max_length=10)
                date_of_birth = models.DateField()
                identity = models.CharField(max_length=20) -->
                <tbody>
               {% for PhoneInfo in phonenumber %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{PhoneInfo.identity}}</td>
                        <td>{{PhoneInfo.fullname}}</td>
                        <td>{{PhoneInfo.date_of_birth}}</td>
                        <td>{{PhoneInfo.position}}</td>
                        <td>{{PhoneInfo.department}}</td>
                        <td>{{PhoneInfo.phone_number}}</td>
                        <td>{{PhoneInfo.email}}</td>
                        <td>
                            <a href="{% url 'edit_contact' pk=PhoneInfo.id %}">
                                <i class="far fa-edit" title="Edit"></i>
                            </a>
                            <a href="{% url 'show_contact' pk=PhoneInfo.id %}">
                                <i class="far fa-eye" title="Show"></i>
                            </a>
                            <a href="{% url 'delete_contact' pk=PhoneInfo.id %}">
                                <i onclick="myFunction()" class="far fa-trash-alt" title="Delete"></i>

                                <!-- <button onclick="myFunction()">SUBMIT</button> -->

                               
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                        <tr>No phone entries</tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}


{% load static %}
{% block extend_js %} 
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>

{% endblock %}
